# Ignore node_modules directory
node_modules/

# Ignore build output
build/
dist/
*.log

# Ignore environment files
.env

# Ignore editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore npm/Yarn lock files
package-lock.json
yarn.lock
